.d-flex.justify-content-center.mt-5
  form#search-form.w-75
    input.form-control.form-control-lg.rounded-pill.text-center.fs-2(type='text' name="word" placeholder='type a word' aria-label='.form-control-lg example')
